# Welcome to Python

PYTHON

<h1>GITAM Hyderabad</h1>
<ol>
    <li>Hyderabad</li>
    <li>Bangalore</li>
    <li>Visakhapatnam</li>
</ol>

In [40]:
__ = '1'
print(__)

1

In [42]:
_lol=5
print(_lol)

5

In [45]:
a=10
b=34.5
c="GITAM"
d="Hyd"
print(a)

10

In [46]:
a=10
b=34.5
c="GITAM"
d="Hyd"
print(a)
print(b)
print(c)
print(d)

10
34.5
GITAM
Hyd

In [1]:
a=10
print(id(a))

1537923456

In [2]:
print(type(a))

<class 'int'>

In [3]:
a=10
b=10
print(id(a))
print(id(b))

1537923456
1537923456

In [4]:
b=5
print(id(a))
print(id(b))

1537923456
1537923376

In [1]:
ABC=10
abc=15
ABC
abc

15

In [5]:
A=1+2j
print(A.real+A.imag)

3.0

In [7]:
A=1+2j
print(A.real)
print(A.imag)

1.0
2.0

In [8]:
A.conjugate

In [9]:
print(A.conjugate)

<built-in method conjugate of complex object at 0x053DB920>

In [10]:
print(A.conjugate())

(1-2j)

In [11]:
a=complex(3,4)
print(a)

(3+4j)

In [12]:
print(A+a)
print(A-a)
print(a*A)

(4+6j)
(-2-2j)
(-5+10j)

In [13]:
str="gitam"
str1='gitam'
print(id(str))
print(id(str1))

87984768
87984768

In [14]:
print(len(str))

5

In [15]:
tuple=("33",10,1.56)

In [16]:
tuple+=("abcd")

TypeError: can only concatenate tuple (not "str") to tuple

In [17]:
list=['abc',12,1+2j,"OK"]

In [18]:
list+=["LMAO"]

In [19]:
list

['abc', 12, (1+2j), 'OK', 'LMAO']

In [20]:
tuple1=("OK","BOOMER")

In [21]:
tuple+=tuple1

In [22]:
tuple

('33', 10, 1.56, 'OK', 'BOOMER')

In [23]:
tuple2=tuple(list)

TypeError: 'tuple' object is not callable

In [24]:
del tuple

In [25]:
tuple2=tuple(list)

In [26]:
tuple2

('abc', 12, (1+2j), 'OK', 'LMAO')

In [27]:
list=tuple(list)

In [28]:
print(type(list))

<class 'tuple'>

In [31]:
cool="7125"
hot=int(cool)
print(cool,type(cool))
print(hot,type(hot))

7125 <class 'str'>
7125 <class 'int'>

In [33]:
lol=int(input("Enter a number : "))
print(type(lol))

Enter a number : 12
<class 'int'>

In [34]:
set={'a',25}

In [35]:
set

{25, 'a'}

In [38]:
3**5

243

In [39]:
5//2

2

In [40]:
25//2

12

In [41]:
25%2

1

In [42]:
25/2

12.5

In [44]:
pow(2,5)

32

In [45]:
set.add(125)

In [46]:
set

{125, 25, 'a'}

In [47]:
set.add("LMAO")

In [48]:
print(set)

{25, 'a', 125, 'LMAO'}

In [49]:
set

{125, 25, 'LMAO', 'a'}

In [50]:
print(set)

{25, 'a', 125, 'LMAO'}

In [51]:
set

{125, 25, 'LMAO', 'a'}

In [52]:
set.add(1+2j)

In [53]:
print(set)

{'a', (1+2j), 25, 125, 'LMAO'}

In [56]:
set.add(1.56)

In [57]:
print(set)

{'a', (1+2j), 25, 1.56, 125, 'LMAO'}

In [58]:
set

{(1+2j), 1.56, 125, 25, 'LMAO', 'a'}

In [65]:
a=100
str(a)

'100'

In [72]:
print(str1+" "+str(a))

gitam 100

In [96]:
a=100
print("Value of a is",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="Hello"
print(d*3)
print(d[1:3])
for i in range(1,10,2):
    print(i, end=" ")

SyntaxError: invalid syntax (<ipython-input-96-4c2cd1c30701>, line 9)

In [100]:
a=int(input("Enter the number: "))
if(a>0):
    print("It is positive")
if(a<0):
    print("It is negative")
if(a==0):
    print("It is zero")

Enter the number: -50
It is negative

In [108]:
year=int(input("Enter the year"))
if((year%100!=0 and year%4==0) or year%400==0):
    print(year," is a leap year.")
else:
    print(year,"is not a leap year.")

Enter the year2100
2100 is not a leap year.

In [6]:
a,b,c=10000,2000,300
if(a>b and a>c):
    print(a," is the largest.")
elif(b>a and b>c):
    print(b," is the largest.")
else:
    print(c," is the largest.")

10000  is the largest.

In [10]:
a,b=10,20
print("Before swapping a,b: ",a,b)
a,b=b,a
print("After swapping a,b: ",a,b)

Before swapping a,b:  10 20
After swapping a,b:  20 10

In [7]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
print("Enter your choice: \n1. Add \n2. Subtract \n3. Multiply \n4. Divide")
Choice=int(input())
if(Choice==1):
    print(a," + ",b," = ",a+b)
elif(Choice==2):
    print(a," - ",b," = ",a-b)
elif(Choice==3):
    print(a," * ",b," = ",a*b)
elif(Choice==4):
    print(a," / ",b," = ",a/b)
else:
    print("Please choose from options 1-4")

Enter the first number: 60
Enter the second number: 20
Enter your choice:
1. Add
2. Subtract
3. Multiply
4. Divide
4
60  /  20  =  3.0

In [12]:
a=input("Enter a letter: ")
if(a=='a' or a=='e' or a=='i'or a=='o' or a=='u'):
    print(a," is a Vowel.")
else:
    print(a," is a Consonant")

Enter a letter: t
t  is a Consonant

In [2]:
n=int(input("Enter the range: "))
for i in range(1,n+1,2):
    print(i,end=" ")

Enter the range: 10
1 3 5 7 9

In [4]:
Numbers=[1,2,3,6,9,20]

In [52]:
def BinSearch(arr,Key,Low,High):
    if Low >= High:
        return -1
 
    mid = (Low + High)//2
    if arr[mid] < Key:
        return BinSearch(arr,Key,mid + 1,High)
    elif arr[mid] > Key:
        return BinSearch(arr, Low, mid-1, Key)
    else:
        return mid
n=int(input("Enter the number of elements: "))
arr=[]
print(input("Enter the list: "))
for i in range(0,n-1):
    e=int(input())
    arr.append(e)
Key=int(input("Enter the number: "))
Low=0
High=N=len(arr)
found=BinSearch(arr,Key,Low,High)
if found<0:
    print("Not found.")
else:
    print(Key," found at ",found+1)

Enter the number of elements: 4
Enter the list: 0
0
1
2
3
Enter the number: 2
2  found at  2

In [ ]:
for i in range(6):
    print(i,end=" ")
print()
for i in range(1,6):
    print(i,end=" ")
print()
for i in range(1,10,2):
    print(i,end= "")

In [93]:
N=int(input("Enter a number: "))
P=0
for i in range(2,N//2+1):
    if(N%i==0):
        P=1
        break;
if P==0:
    print(N," is a prime.")
else:
    print(N," is not a prime.")

Enter a number: 4
4  is not a prime.

In [85]:
def Fact(K):
    if K==1:
        return 1; 
    return K*Fact(K-1)
def NcR(N,R):
    return Fact(N)//(Fact(N-R)*Fact(R))
N=int(input("Enter N: "))
R=int(input("Enter R: "))
Val=NcR(N,R)
print(Val)

Enter N: 5
Enter R: 2
10

In [103]:
N=int(input("Enter a number: "))

for i in range(2,N+1):
    P=0
    for j in range(2,i//2+1):
        if(i%j==0):
            P=1
    if P==0:
        print(i," is a prime.")

Enter a number: 5
2  is a prime.
3  is a prime.
5  is a prime.